:root{
    --btn-color: #5AA2E9;
    --history-color: #B7B7B7;
    --primary-color: #fff;
    --secondary-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    padding: 1% 3%;
    margin: 0.5%;
    text-align: center;
    background: rgb(59,110,196);
    background: linear-gradient(90deg, rgba(59,110,196,1) 0%, rgba(59,110,196,1) 23%, rgba(35,6,87,1) 100%);
}

h1{
    font-weight: 700;
    color: var(--primary-color);
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.3rem;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 1.3;
    font-size: 1rem;
}

main{
    margin: 20px auto;
    width: 94%;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

.form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}
  

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 15px 0;
    border-radius: 10px;
    color: var(--primary-color);
    border: none;
    outline: none;
    background-color: var(--btn-color);
    cursor: pointer;
}
  
.btn:hover {
    background-color: rgba(59,110,196,0.8);
}

.weather-display{
    border: 2px var(--secondary-color) solid;
    margin: 5px;
    padding: 7px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.col-12 {
    flex: 0 0 100%;
}

@media screen and (min-width: 768px) {
    .col-md-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-md-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-md-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-md-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-md-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-md-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-md-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-md-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-md-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-md-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-md-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-md-12 {
      flex: 0 0 100%;
    }
  }
  